.contact {
  background: $bg-hover;
  padding: 0 0 120px;
}
.contact-container {
  display: grid;
  @include md {
    grid-template-columns: 1.3fr 2fr;
    grid-gap: 20px;
  }
  @include sm {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
  @include xs {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
}

.contact-details {
  max-width: 100%;
  padding: 20px;
  background: #257386;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #111;

  h4 {
    padding: 20px 0;
    border-bottom: 3px solid $bg-hover;
  }

  p {
    line-break: normal;
    word-break: break-all;
    display: grid;
    grid-template-columns: 1fr 4fr;

    &:nth-child(2) {
      margin-top: 40px;
      grid-column: 1 / 4;
    }
    &:nth-child(6) {
      margin-top: 70px;
    }
  }

  span {
    width: 48px;
    height: 48px;
    display: inline-block;

    overflow: hidden;
  }
  a {
    color: #111;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    justify-content: center;
    align-self: center;
  }
  @include sm {
    padding: 10px;
    p {
      font-size: 0.8rem;
    }
    a {
      font-size: 0.9rem;
    }
  }
}
.contact-map {
  iframe {
    width: 100%;
  }
  @include md {
    iframe {
      height: 500px;
    }
  }
  @include sm {
    iframe {
      height: 300px;
      margin-top: 30px;
    }
  }
  @include xs {
    iframe {
      height: 250px;
      margin-top: 30px;
    }
  }
}
