.technology {
  background: $bg-hover;
  .section-header {
    border-bottom: 3px solid $bg-light;
  }
  .card-img {
  }
}
.technology-container {
  display: grid;
  @include md {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
  }
  @include sm {
    grid-template-columns: 1fr;

    margin: 0 auto;
  }
}
