.close-icon {
  height: 72px;
  justify-self: end;
  @include sm {
    display: block;
    margin-right: -16px;
  }
  @include md {
    display: none;
  }
  svg {
    height: 100%;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
  }
  path {
    fill: none;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
      stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #a06ba5;
    stroke-dashoffset: 0px;
  }
  #top,
  #bottom {
    stroke-dasharray: 240px 950px;
  }
  #middle {
    stroke-dasharray: 240px 240px;
  }
}
.cross {
  #top,
  #bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
  }
  #middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
  }
}
